<div class="container">
    <div class="question1 d-flex justify-content-between align-items-center">
        <div>
            <h4>¿Cuál es la naturaleza de su emergencia?</h4>
        </div>
        <div>
            <div class="card card-hover">
                <div class="card-body">
                    Dolor de cabeza severo
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    Dolor torácico / Opresión en el pecho
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    Dificultad para respirar
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    Sangrado persistente
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    Otro (especifique)
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="question2 d-flex justify-content-between align-items-center">
        <div>
            <h4>¿Cuál es la duración de los síntomas?</h4>
        </div>
        <div>
            <div class="card">
                <div class="card-body">
                    Menos de 1 hora
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    De 1 a 3 horas
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    Más de 3 horas
                </div>
            </div>
        </div>
    </div>
    <div class="question3 d-flex justify-content-between align-items-center">
        <div>
            <h4>¿Hay otros síntomas presentes?</h4>
        </div>
        <div>
            <div class="card">
                <div class="card-body">
                    Náuseas y vómitos
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    Mareo o desmayo
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    Fiebre alta
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    Sudores fríos
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    Ningún otro síntoma
                </div>
            </div>
        </div>
    </div>
    <div class="question4 d-flex justify-content-between align-items-center">
        <div>
            <h4>¿Hay antecedentes médicos relevantes?</h4>
        </div>
        <div>
            <div class="card">
                <div class="card-body">
                    Enfermedades del corazón o problemas cardiovasculares
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    Trastornos respiratorios
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    Alergias
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    Diabetes
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    Ninguno
                </div>
            </div>
        </div>
    </div>
    <div class="question5 d-flex justify-content-between align-items-center">
        <div>
            <h4>¿Ha estado expuesto recientemente a alguna enfermedad contagiosa?</h4>
        </div>
        <div>
            <div class="card">
                <div class="card-body">
                    Si
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    No
                </div>
            </div>
        </div>
    </div> -->
</div>